/* loading */
@keyframes gradientCard {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.loading-page {
	font-size: larger;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(-45deg, #8a5a0079, #00000050, #8a5a0079, #00000050);
	background-size: 400% 400%;
	height: 100vh;
	animation: gradientCard 3s ease infinite;
	-webkit-animation: gradientCard 3s ease infinite;
}

/* main */
.main__home-container {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, rgb(150 75 0 / 50%), rgb(20 20 20 / 100%)), url("/assets/images/bg-home.jpg");
}
