.main__home-container {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, rgba(107, 58, 58, 0.3), rgba(82, 56, 28, 0.6)), url("../images/bg-home.jpg");
}
