@tailwind base;
@tailwind components;
@tailwind utilities;

/* document style */
html {
	overflow-x: hidden;
}
body {
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* * {
	font-family: var(--font-yekan);
} */
/* end document style */

/* scroll style */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border: 3px solid var(--primary);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
/* end scroll style */
