@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: var(--font-yekan) !important;
		font-weight: 600;
	}
	.ltr {
		direction: ltr !important;
	}
	.rtl {
		direction: rtl;
	}
}

/* document style */
html {
	overflow-x: hidden;
}
body {
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* scroll style */
* {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #ffa50050 #0000000d;
}
*::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
*::-webkit-scrollbar-track {
	background: #ffa6001a;
}
*::-webkit-scrollbar-thumb {
	background-color: #ffa50050;
	border: 3px solid #0000000d;
}

/* ******** antd.overload.css */

.ant-spin .ant-spin-dot-item {
	/* loading spin*/
	background-color: #ffa600 !important;
}

.ant-skeleton-content .ant-skeleton-title {
	/* skelton action loading */
	background-image: linear-gradient(90deg, #ffffff0f 25%, #00000026 37%, #adacac0f 63%) !important;
}
